.financial-report-button {
    border: none;
    background-color: transparent;
}

.financial-report-button:hover {
  color: #005c99;
}


.financial-statements-list-item {
  list-style: none;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  color: #88b2cc;
  font-size: 16px;
  padding: 10px;
}


.section-header {
  font-size: 18px;
  font-weight: 900;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  color: #777;
  line-height: 200%;
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 5px;
}

.section {
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 15px;
}

.statement-title-header {
  font-size: 24px;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  color: #777;
  margin-left: 55px;
  border-bottom: 1px solid #e7e7e7;
  padding: 15px;
}

.back-link {
  font-family: Alegreya,serif;
  color: #88b2cc;
  font-size: 18px;
  padding-left: 5px;

}

.back-link:hover {
  color: #005c99;
}

.divider {
  color: #777;
}

.statement-container {
  color: #777;
  font-size: 16px;
  margin-left: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  white-space: pre-wrap;

}
