.status-headers {
  font-size: 14px;
  font-family: Lato,'Helvetica Neue', Arial, Helvetica, sans-serif;
  border: 1px solid black;
  max-width: 220px;
  padding: 5px;
  height: 50px;
  border-radius: 5%;
  background-color: transparent;
  margin-right: 10px;

}

.target-image {
  height: 250px;
  width: 250px;
}

.image-container {
  text-align: center;
}

.overview-page-header {
  font-size: 36px;
  color: #777;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  z-index: 1;
  font-family: Lato,'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.company-status-statistics {
  list-style-type: none;
  margin-left: 30px;
  font-size: 30px;
}

.overview {
  margin-left: 90px;
  font-size: 30px;
}

.company-stats {
  margin-left: 100px;
  text-align: center;
}

.list-of-company-by-status-box {
  text-align: center;
  margin-top: 50px;
}

.company-by-status {
  font-size: 24px;
  list-style: none;
  line-height: 200%;
  color: black;
}

.company-link {
  color: black;
  font-family: Lato,'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.pending {
    color: #0074D9;
    border: 1px solid #0074D9;
}

.approved {
    color: 	#2ECC40;
    border: 1px solid	#2ECC40;
}

.declined {
    color: #FF4136;
    border: 1px solid #FF4136;
}

.researching {
    color: #ff9900;
    border: 1px solid #ff9900;
}
