.sidebar {
    position: absolute;
    float: left;
    width: 250px;
    height: 100%;
}

.sidebar-left {
    border-right: 1px solid black;
    margin-right: 10px;
}

.company-list {
  list-style: none;
}

.search-result-item:hover {
  cursor: pointer;
  background-color: #b3ecff;
  text-decoration: none;
}

.search-results-container {
    display: inline-block;

    width: 100%;
}

.Pending {
  color: #0000e6;
}

.Approved {
  color: 	 #00b300;
}

.Declined {
  color: #ff0000;
}

.Researching {
  color: #ff9900;
}
