.sidebar {
    float: left;
    min-height: 500px;
    border: 1px solid #C0C0C0;
    background-color: #f8f8f8;
    background-image: linear-gradient(to right, #fff 0%, #f8f8f8 100%);
    position: absolute;
    z-index: 1;
    border-radius: 5px;
    left: -35px;
    height: 550px;
    margin-bottom: 30px;

}

.sidebar:hover {
    width: 300px;
    -webkit-transition: width 2s, height 4s; /* Safari */
    transition: width 2s, height 4s;
}

.side-bar-header {
    text-align: center;
    color: #777;
    font-size: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    padding: 10px;
    font-family: Lato,'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.target-input {
    font-family: Lato,'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 5px;
    width: 85%;
    margin-left: 10px;

}

.sidebar-left {
    border-right: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    margin-left: 10px;
    margin-right: 10px;

}

.company-list {
    list-style: none;
    line-height: 200%;
}

ul {
    padding-left: 30px;
}

.search-result-item:hover {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.search-form {
    border: none;
    margin-bottom: 7px;
    text-align: center;
    padding: 7px;
}

.search-form-container {
    text-align: center;
}

.search-results-container {
    display: inline-block;
    padding: 10px 5px 10px 0px;
    text-align: left;
    margin-top: 15px;
    width: 100%;
    border: 1px solid #D8D8D8 ;
    height: 300px;
    overflow: scroll;
}

.label-margin {
    color: #777;
    margin-bottom: 10px;
    font-family: Lato,'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.search-result-item {
    font-size: 16px;
}
.Pending {
    color: #0074D9;
}

.Approved {
    color: 	#2ECC40;
}

.Declined {
    color: #FF4136;
}

.Researching {
    color: #ff9900;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
        font-size: 18px;

    }
}

@media screen and (max-width: 1025px) {
  .sidebar{
    max-height: 150px;
    max-width: 200px;

  }
}
