.section-header {
    font-size: 20px;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    color: #777;
    margin-left: 10px;
    border-bottom: 1px solid #e7e7e7;
    padding: 5px;
}

.add-prop-button {
    background-color: transparent;
    font-family: Alegreya,serif;
    color: #88b2cc;
    font-size: 18px;
    padding-left: 5px;
    border: none;
  }

.edit-delete-button {
  background-color: transparent;
  font-family: Alegreya,serif;
  color: #88b2cc;
  font-size: 16px;
  padding-left: 5px;
  border: none;

}
.add-prop-button:hover, .edit-delete-button:hover {
    color: #005c99;
}

.divider {
  background-color: transparent;
  font-family: Alegreya,serif;
  color: #777;
  font-size: 16px;
  border: none;
}

.prop-list {
    margin-top: 10px;
    line-height: 160%;
}

.name-value-list {
    list-style: none;
    color: #777;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.bold {
    font-weight: 900;
}

.asset-list, .liability-list {
  color: #777;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 16px;

}
